/*#1E1E24 - Black*/
/*#F7934C - Orange*/
/*#8A2BE2 - Violet*/
/*#FF8C00 - Orange*/
* {
	font-family: 'Kumbh Sans', sans-serif;
}
hr {
	background-color: #F7934C;
}

.active {
	color: #FF8C00 !important;
}

div {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.homeBody {
	background-color: #1E1E24;
	color: white;
}

nav {
	box-shadow: 0 5px 12px #8A2BE2;
	z-index: 99;
}

.navbar-brand img {
	height: 50px;
	padding-left: 60px !important;
}

.navbar-nav {
	padding-right: 60px !important;
}

li:hover {
	transform: scale(1.1);
}

.nav-link:hover {
	color: #F7934C !important;
}
.btn {
	border-radius: 7px !important;

}

.btn:hover {
	transform: scale(1.1);
	box-shadow: 0 5px 12px #8A2BE2;
} 

.signup {
	background-color: #FF8C00 !important;
}

.play {
	background-color: #8A2BE2 !important;
}

.homeP p {
	padding: 10px 0;
}


.homeContainer {
	padding: 0 !important;
	padding-top: 75px !important;
}

.homeRow {
	padding: 0 !important;
	margin: 0 !important;
	
}

.homeCol {
	padding: 0 !important;
	margin: 0 !important;	
}

.footer {
	padding: 0 !important;
	margin: 0 !important;
}

.footerP {
	font-size: 11px !important;
}

a {
	color: white !important;
}

i {
	font-size: 35px;
	padding: 10px;
}

i:hover {
	transform: scale(1.1);
	color: #F7934C !important;
	box-shadow: 0 5px 12px #8A2BE2;
}

.star {
	font-size: 15px;
} 

.testimonials {
	padding-bottom: 70px;
}

/*///////////////////G-A-M-E-S/////////////////////////////////*/
.homeGames {
	background-color: #1E1E24;
}

.gamesRow1 {
	padding-top: 120px;
	padding-bottom: 70px;
}

.card {
	margin-bottom: 50px;
	box-shadow: 0 5px 12px #8A2BE2;
}

.gamesH2 {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.cardOverlay {
	position: relative;
}

.overlay {
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: rgba(138,43,226, 0.9);
  	overflow: hidden;
  	width: 100%;
  	height: 100%;
  	transform: scale(0);
  	transition: .3s ease;
}

.cardOverlay:hover .overlay {
  	transform: scale(1);
}

.text {
  	color: white;
  	font-size: 20px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.playButton {
	display: none !important;
}



/*///////////////////REGISTER/////////////////////////////////*/

.signupContainer {
	background-image: url(./../images/dice.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
}

.form {
	
	padding-bottom: 50px;
}

input {
	margin-bottom: 20px !important;
}

.signupCol {
	margin-top: 120px !important;
	background-color: rgba(255, 255, 255,0.2);
	box-shadow: 0 5px 12px #8A2BE2;
	margin-bottom: 50px;
}



/*///////////////////LOGIN/////////////////////////////////*/
.loginContainer {
	background-image: url(./../images/chips.jpeg);
	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
}
.loginRow {
	margin-top: 100px !important;
}

.forgot {
	margin-top: 20px;
}
.forgot a{
	color: #FF8C00 !important;
}

.loginForm {
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0 5px 12px #8A2BE2;
	margin-bottom: 50px;
}

h2 {
	padding-top: 20px;
}



/*///////////////////DingDong/////////////////////////////////*/
.dingdongBody {	
	color: white;
}


.dingdongRow {
	background-image: url(./../images/dingdong.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	position: relative;
	height: 100vh;
}

.gif {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}



.dingdongRow2 {
	background-color: #1E1E24;

}

.mobile {
	padding-top: 150px;
}


a h2 {
	color: #FF8C00 !important;
}

.phones img {
	height: 500px;
	width: 100%;
}

.sasa {
	background-image: url(./../images/sasa.gif);
	background-attachment: fixed;
	background-size: 100% 100%;
	position: relative;
	height: 75vh;
}

.join {
	background-color: #1E1E24;
	padding-top: 80px;
	padding-bottom: 80px;
}










/*Media Query*/
@media (max-width: 1024px) {

	
}




@media (max-width: 952px) {


	
}




@media (max-width: 860px) {

	.navbar-nav {
		padding: 5px !important;
		margin: 0 !important;
	}

	.navbar-brand img {
		height: 50px;
		padding-left: 0 !important;
	}

	li {
		text-align: center;
	}


	.carousel-item img {
		height: 50vh;
		width: 100%;
	}

	footer {
		text-align: center;
	}

	i {
		padding: 10px;
	}

	.playButton {
		display: block !important;
		background-color: #8A2BE2 !important;
	}

	.gif {
		width: 90%;
		padding: 0 !important;
		margin: 0 !important;
	}
}
